<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.crap.blog.dao.mapper.SettingMapper">
<resultMap id="BaseResultMap" type="cn.crap.blog.domain.dao.Setting">
	 <result column="mkey" jdbcType="VARCHAR" property="mkey" />
 <result column="value" jdbcType="VARCHAR" property="value" />
 <result column="remark" jdbcType="VARCHAR" property="remark" />
 <result column="createTime" jdbcType="VARCHAR" property="createtime" />
 <result column="status" jdbcType="TINYINT" property="status" />
 <result column="type" jdbcType="VARCHAR" property="type" />
 <result column="canDelete" jdbcType="TINYINT" property="candelete" />
 <result column="sequence" jdbcType="INTEGER" property="sequence" />
 <result column="id" jdbcType="BIGINT" property="id" />

</resultMap>

<sql id="Base_Column_List">
	mkey,value,remark,createTime,status,type,canDelete,sequence
</sql>

<!-- 插入数据 -->
<insert id="save" parameterType="cn.crap.blog.domain.dao.Setting">
	insert into setting
		(mkey,value,remark,createTime,status,type,canDelete,sequence) 
		values(#{mkey},#{value},#{remark},now(),#{status},#{type},#{candelete},#{sequence})
</insert>
<!-- 删除数据 -->
<delete id="delete" parameterType="java.lang.Long">
    delete from setting where id = #{id}
</delete>
<!-- 更新数据 -->
<update id="update" parameterType="cn.crap.blog.domain.dao.Setting">
    update setting
    <set> 
	<if test="mkey != null">
		mkey=#{mkey},
	</if>
	<if test="value != null">
		value=#{value},
	</if>
	<if test="remark != null">
		remark=#{remark},
	</if>
	<if test="createtime != null">
		createTime=#{createtime},
	</if>
	<if test="status != null">
		status=#{status},
	</if>
	<if test="type != null">
		type=#{type},
	</if>
	<if test="candelete != null">
		canDelete=#{candelete},
	</if>
	<if test="sequence != null">
		sequence=#{sequence},
	</if>

	</set>
    where id=#{id}
</update>
<!-- GET数据 -->
<select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from setting
    where id = #{id}
 </select>

  
<select id="selectByIds" parameterType="java.util.List" resultMap="BaseResultMap">
	select
 		<include refid="Base_Column_List" />
 		from setting where id in 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
</select>

</mapper>
